venv
*.pyc
staticfiles

*.egg-info/
*.py[co]
/.coverage
/.tox/
/bower_components/
/node_modules/
/db.sqlite3
/djangosite/settings/local.py
/htmlcov/
/public/media/
/public/static/
/secret.txt
/supervisord.log
/supervisord.pid
/venv/
/virtualenv/
/src/

.idea
.env

.DS_Store
tsearch/settings.py