/* line 1, ../sass/tsearch.scss */
body {
  font-family: 'Merriweather Sans', sans-serif;
}

/* line 5, ../sass/tsearch.scss */
.medium {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  height: 100px;
  width: 100px;
}

/* line 13, ../sass/tsearch.scss */
.color {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  height: 100px;
  width: 100px;
}

/* line 21, ../sass/tsearch.scss */
.color.red {
  background-color: red;
}

/* line 25, ../sass/tsearch.scss */
.color.blue {
  background-color: blue;
}

/* line 29, ../sass/tsearch.scss */
.color.green {
  background-color: green;
}

/* line 33, ../sass/tsearch.scss */
.color.black {
  background-color: black;
}

/* line 37, ../sass/tsearch.scss */
.color.orange {
  background-color: orange;
}

/* line 41, ../sass/tsearch.scss */
.country {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  height: 100px;
  width: 100px;
}

/* line 49, ../sass/tsearch.scss */
.country.america {
  background-image: url("../assets/svg/usa.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 56, ../sass/tsearch.scss */
.country.mexico {
  background-image: url("../assets/svg/mexico.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 63, ../sass/tsearch.scss */
.country.japan {
  background-image: url("../assets/svg/japan.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 70, ../sass/tsearch.scss */
.country.france {
  background-image: url("../assets/svg/france.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 77, ../sass/tsearch.scss */
.country.italy {
  background-image: url("../assets/svg/italy.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 84, ../sass/tsearch.scss */
.selected {
  border: 2px solid white;
  outline: 2px solid red;
}

/* line 89, ../sass/tsearch.scss */
.gallery-container {
  border: 1px solid red;
}

/* line 93, ../sass/tsearch.scss */
.modal-header, .modal-footer {
  border: 0;
}

/* line 97, ../sass/tsearch.scss */
.carousel-inner {
  display: flex;
  justify-content: center;
}
